body {
  background-color: #4289f4;
  margin: 0;
}

h1 {
  color: white;
   margin: 0; /* removes space around title */
  padding: .2em;
  font-size: 4em;
  font-family: ZCOOL KuaiLe, Papyrus, Georgia, Arial;
  text-align: center;
}

header {
  background-color: green;
  margin: 0;
  padding: 0;
}

nav {
  background-color: yellow;
}
nav ul {
  margin: 0;
}

nav li {


  display: inline-block;

}
nav a {
  color: black;
  text-decoration: none; /* Removes Underline */
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
}

nav a:hover {
  color: #4289f4;

}

#calendar {
  float: left;
  padding: 0.75em;
  width: 350px;
  color: white;
}

#calendar ul {
  list-style: none;
  padding-left: 0.5em;
}
#calendar strong {
  color: rgb(127, 196, 255);
}
section {
  background-color: #4289f4;
  margin-left: 350px;
  padding: 0.5em;
  overflow:auto;

}

h2, h3 {
  margin: 0;
  color: white;

}

main {
  font-family: 'Lora', serif;
}

h2 {
  margin-bottom .05;
}

.left {
  float: left;
  margin-right: 1em;
}
